files:
  /etc/nginx/conf.d/https.conf:
    content: |
      # HTTPS server

      server {
          listen       443;
          server_name  localhost;

          ssl                  on;
          ssl_certificate      /etc/pki/tls/certs/server.crt;
          ssl_certificate_key  /etc/pki/tls/certs/server.key;

          ssl_session_timeout  5m;

          ssl_protocols  TLSv1 TLSv1.1 TLSv1.2;
          ssl_ciphers "EECDH+AESGCM:EDH+AESGCM:AES256+EECDH:AES256+EDH";
          ssl_prefer_server_ciphers   on;

          location / {
              proxy_pass  http://my_app;
              proxy_set_header        Host            $host;
              proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
              proxy_set_header X-Forwarded-Proto $scheme;
          }

          location /assets {
            alias /var/app/current/public/assets;
            gzip_static on;
            gzip on;
            expires max;
            add_header Cache-Control public;
          }

          location /public {
            alias /var/app/current/public;
            gzip_static on;
            gzip on;
            expires max;
            add_header Cache-Control public;
          }
      }

  /etc/pki/tls/certs/server.crt:
    content: |
      -----BEGIN CERTIFICATE-----
      MIIFgzCCBGugAwIBAgIQPunXrsY5eAJx5me9Kn1OtjANBgkqhkiG9w0BAQsFADBH
      MQswCQYDVQQGEwJVUzEWMBQGA1UEChMNR2VvVHJ1c3QgSW5jLjEgMB4GA1UEAxMX
      UmFwaWRTU0wgU0hBMjU2IENBIC0gRzIwHhcNMTcwNDExMDAwMDAwWhcNMTgwNDEx
      MjM1OTU5WjAcMRowGAYDVQQDDBFiaXppdGZlc3RpdmFsLmNvbTCCASIwDQYJKoZI
      hvcNAQEBBQADggEPADCCAQoCggEBAKPO4DdoUfguhtGzuE5JX0cXMm6VqTAzrjug
      GDyDIszYl+YjnSgq9YJ7qTPl3whXA7FdPYRS+INNft+R88fw1JHoGqhY/XgyT5dA
      M9Y38F7hdYAqdVkwk1SCLR0ylDHDHzioO8YbdgaelqGRhk6skLMOIIcI3XS41tnY
      HocX4Ap1vvn2miXhGwme187P5LdJTSoySneYGBX9oXzljOGyVg1GStnKrmRiDH4/
      PR+58r3xLHeGrQPXedJ4hgYEPG60tlJwnwIXf3P//anZg2dGVR2WNUtHTm/Sfmhn
      qD9niyPwtgp4GWNx4LwPoEB6Qd5pmFuxakHrjeNJfkDYigvWhT0CAwEAAaOCApQw
      ggKQMDMGA1UdEQQsMCqCEWJpeml0ZmVzdGl2YWwuY29tghV3d3cuYml6aXRmZXN0
      aXZhbC5jb20wCQYDVR0TBAIwADArBgNVHR8EJDAiMCCgHqAchhpodHRwOi8vZ3Mu
      c3ltY2IuY29tL2dzLmNybDBvBgNVHSAEaDBmMGQGBmeBDAECATBaMCoGCCsGAQUF
      BwIBFh5odHRwczovL3d3dy5yYXBpZHNzbC5jb20vbGVnYWwwLAYIKwYBBQUHAgIw
      IAweaHR0cHM6Ly93d3cucmFwaWRzc2wuY29tL2xlZ2FsMB8GA1UdIwQYMBaAFEz0
      v+g7vsIk8xtHO7VuSI4Wq68SMA4GA1UdDwEB/wQEAwIFoDAdBgNVHSUEFjAUBggr
      BgEFBQcDAQYIKwYBBQUHAwIwVwYIKwYBBQUHAQEESzBJMB8GCCsGAQUFBzABhhNo
      dHRwOi8vZ3Muc3ltY2QuY29tMCYGCCsGAQUFBzAChhpodHRwOi8vZ3Muc3ltY2Iu
      Y29tL2dzLmNydDCCAQUGCisGAQQB1nkCBAIEgfYEgfMA8QB3AN3rHSt6DU+mIIuB
      rYFocH4ujp0B1VyIjT0RxM227L7MAAABW178ZkIAAAQDAEgwRgIhAOjaX+qM4rSC
      7wAkrSBX0uYE+XIbWIu99lmp1s/vNuY4AiEAqWzKrIqLbjYBj94ewz7N2FakHw4l
      tb64v9fzLSosAX0AdgCkuQmQtBhYFIe7E6LMZ3AKPDWYBPkb37jjd80OyA3cEAAA
      AVte/GZ0AAAEAwBHMEUCIQCvQ2TEOjsHTOIixKH7K5wIy9njCJ18hBmjFsmH9eT3
      sAIgZeBe0Lfdc4JKusnZLgxvfdIRImC0eaHtFks3iwlRYWQwDQYJKoZIhvcNAQEL
      BQADggEBAB7MCO1aPI3V/tl2nmhSO1qwF9OByZaPe6qeU5q999r9ANKEx3XRegKL
      Twevy8BllKxBeuWICjPA7J97cGO5pK4u3cwndM0kCK+F/2wtjlG7omYW89Y5RUZr
      yWo0kbaoIJByHEaDJK/eszZHlnXyitUE8Mtccj7hiOhub2wWvN9GPEQWm/ZkWuQe
      MnO/K0IMT/MeZ4A52+xdsO7VftJuXsihyttjFuVywDVmTFAtKM80UU5oJ8pP2xGA
      jVcNvHGawArZV4p7KQYgPvNMb2wUeTc6OQSUJRvISRXPzLKKHpxfB+7qy1OOAhcK
      55c1wol2Wn4kTarq3ycMPSOESTTK0Ss=
      -----END CERTIFICATE-----
      -----BEGIN CERTIFICATE-----
      MIIEtTCCA52gAwIBAgIQSOmUQNQ2SRy4uII9CUOUxzANBgkqhkiG9w0BAQsFADCBmDELMAkGA1UE
      BhMCVVMxFjAUBgNVBAoTDUdlb1RydXN0IEluYy4xOTA3BgNVBAsTMChjKSAyMDA4IEdlb1RydXN0
      IEluYy4gLSBGb3IgYXV0aG9yaXplZCB1c2Ugb25seTE2MDQGA1UEAxMtR2VvVHJ1c3QgUHJpbWFy
      eSBDZXJ0aWZpY2F0aW9uIEF1dGhvcml0eSAtIEczMB4XDTE0MDYxMDAwMDAwMFoXDTI0MDYwOTIz
      NTk1OVowRzELMAkGA1UEBhMCVVMxFjAUBgNVBAoTDUdlb1RydXN0IEluYy4xIDAeBgNVBAMTF1Jh
      cGlkU1NMIFNIQTI1NiBDQSAtIEcyMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAxJVj
      KNBOMEWvi5c0FEX4XFhK+jOObpxgq/OG/zR0siu+oYzVoqNgekC54fwiyme6YKrHmvkGf+73uoUF
      sAP/cq4VQUqYZNcXS1TvBcaYB5MnPk/cD8Z7i+fzBl6N6LSuKbQeHi0WkNPqqueMO22vNln/xQr6
      x0y9NotkxEr1zjP5B75/RZCoCBSw0KVP34KA2hvuwxOwmPUP+X52tea5XWi5XFCQiaQ2sXAW6rEQ
      tWp23+G7/HjycpnPyaLUc1R3v8A5d+WuEsV4WhlF1EEZ03z1b5lr14u8LQmdSxBhwNpSw68iQ8br
      N35jdDANanGO3l1bisjF15sp6K62JWGB6wIDAQABo4IBSTCCAUUwLgYIKwYBBQUHAQEEIjAgMB4G
      CCsGAQUFBzABhhJodHRwOi8vZy5zeW1jZC5jb20wEgYDVR0TAQH/BAgwBgEB/wIBADBMBgNVHSAE
      RTBDMEEGCmCGSAGG+EUBBzYwMzAxBggrBgEFBQcCARYlaHR0cDovL3d3dy5nZW90cnVzdC5jb20v
      cmVzb3VyY2VzL2NwczA2BgNVHR8ELzAtMCugKaAnhiVodHRwOi8vZy5zeW1jYi5jb20vR2VvVHJ1
      c3RQQ0EtRzMuY3JsMA4GA1UdDwEB/wQEAwIBBjApBgNVHREEIjAgpB4wHDEaMBgGA1UEAxMRU3lt
      YW50ZWNQS0ktMS02OTcwHQYDVR0OBBYEFEz0v+g7vsIk8xtHO7VuSI4Wq68SMB8GA1UdIwQYMBaA
      FMR5yo6hTgMdHNxr2zFblD4/MH8tMA0GCSqGSIb3DQEBCwUAA4IBAQB6U7Xetu9So1+K9YnxQsxe
      RoiupQiHUd4PDwLrDIJ443N9cb1D6cqKP+AlkpszM3RJXgDZcxQcC0Z2HIoNTYxsfkv3YNiBeKB4
      0CViqxDKIugcGd1Sg2QF5Ydmrud6pDs+2HB6dqJnOdTJ+uW3HkHiCTmIHBhVCsRBr7Lz8w9CFGF0
      gePah1qaTYvTyY+JZhMpEeT/4t+Olgxaoaprm/38AztVDaaiJUgXH0Ko2mx+aW6g32fSbfQOahJ5
      9XzIpTIcxDGy5ruoa2qiimBpwFd9svIxDJhlMuwIWs7GmOkhlz8seSkD9faUK1Mx85NoV+HXTzrR
      YaFgzrmrmK41VGOL
      -----END CERTIFICATE-----
      -----BEGIN CERTIFICATE-----
      MIID/jCCAuagAwIBAgIQFaxulBmyeUtB9iepwxgPHzANBgkqhkiG9w0BAQsFADCBmDELMAkGA1UE
      BhMCVVMxFjAUBgNVBAoTDUdlb1RydXN0IEluYy4xOTA3BgNVBAsTMChjKSAyMDA4IEdlb1RydXN0
      IEluYy4gLSBGb3IgYXV0aG9yaXplZCB1c2Ugb25seTE2MDQGA1UEAxMtR2VvVHJ1c3QgUHJpbWFy
      eSBDZXJ0aWZpY2F0aW9uIEF1dGhvcml0eSAtIEczMB4XDTA4MDQwMjAwMDAwMFoXDTM3MTIwMTIz
      NTk1OVowgZgxCzAJBgNVBAYTAlVTMRYwFAYDVQQKEw1HZW9UcnVzdCBJbmMuMTkwNwYDVQQLEzAo
      YykgMjAwOCBHZW9UcnVzdCBJbmMuIC0gRm9yIGF1dGhvcml6ZWQgdXNlIG9ubHkxNjA0BgNVBAMT
      LUdlb1RydXN0IFByaW1hcnkgQ2VydGlmaWNhdGlvbiBBdXRob3JpdHkgLSBHMzCCASIwDQYJKoZI
      hvcNAQEBBQADggEPADCCAQoCggEBANziXmJYHTNXOTIz+uvLh4yn1ErdBojqZI4xmKU4kB6Yzy5j
      K/BGvESyiaHAKAxJcCGVn2TAppMSAmUmhsalifD614SgcK9PGpc/BkTVyetyEH3kMSj7HGHmKAdE
      c5IiaacDiGydY8hS2pgn5whMcD60yRLBxWeDXTPzAxHsatBT4tG6NmCUgLthY2xbF37fQJQeqw3C
      IShwiP/WJmxsYAQlTlV+fe+/lEjetx3dcI0FX4ilm/LC7urRQEFtYjgdVgbFA0dRIBn8exALDmKu
      dlW/X3e+PkkBUz2YJQN2JFodtNuJ6nnltrM7P7pMKEF/BqxqjsHQ9gUdfeZChuOl1UcCAwEAAaNC
      MEAwDwYDVR0TAQH/BAUwAwEB/zAOBgNVHQ8BAf8EBAMCAQYwHQYDVR0OBBYEFMR5yo6hTgMdHNxr
      2zFblD4/MH8tMA0GCSqGSIb3DQEBCwUAA4IBAQAtxRPPVoB7eni9n64smefv2t+UXglpp+duaIy9
      cr5HqQ6XErhK8WTTOd8lNNTBzU6B8A8ExCSzNJbGpqow32hhc9f5joWJ7w5elShKKiePEI4ufIbE
      Ap7aDHdlDkQNkv39sxY2+hENHYwOB4lqKVb3cvTdFZx3NWZXqxNT2I7BQMXXExZacse3aQHEerGD
      AWh9jUGhlBjBJVz88P6DAod8DQ3PLghcSkANPuyBYeYk28rgDi0Hsj5W3I31QYUHSJsMC8tJP33s
      t/3LjWeJGqvtux6jAAgIFyqCXDFdRootD4abdNlF+9RAsXqqaC2Gspki4cErx5z481+oghLrGREt
      -----END CERTIFICATE-----

  /etc/pki/tls/certs/server.key:
    content: |
      -----BEGIN RSA PRIVATE KEY-----
      MIIEpAIBAAKCAQEAo87gN2hR+C6G0bO4TklfRxcybpWpMDOuO6AYPIMizNiX5iOd
      KCr1gnupM+XfCFcDsV09hFL4g01+35Hzx/DUkegaqFj9eDJPl0Az1jfwXuF1gCp1
      WTCTVIItHTKUMcMfOKg7xht2Bp6WoZGGTqyQsw4ghwjddLjW2dgehxfgCnW++faa
      JeEbCZ7Xzs/kt0lNKjJKd5gYFf2hfOWM4bJWDUZK2cquZGIMfj89H7nyvfEsd4at
      A9d50niGBgQ8brS2UnCfAhd/c//9qdmDZ0ZVHZY1S0dOb9J+aGeoP2eLI/C2CngZ
      Y3HgvA+gQHpB3mmYW7FqQeuN40l+QNiKC9aFPQIDAQABAoIBAQCXKSfVWYoSyPSW
      fQ8+Bw1KMAjU7Xy0Q2ysDx9ub+DkQZdiw0iaMZJfN7g7cQvwyUNaH93NxzcXC6Nh
      snDQ99dhUVuQMJaunVa/D3sGWpaRJ+LjQ8sIZAABAyOYhv0kMpgUE4MdXGf80cnV
      DNJwtWPOJ+IyWibqOEvjuUDqj0iqvOTsnfNAJzo9vEWHC10zGEtpUGgHub+iTH3L
      9xQc2L3REJKIg+UZd8nEXje1HfKtRq6H0/ZWW5zF/ZQHI1K/TEJZsqoRqnFCgh40
      QMlJpP27K2RILFEVmNSeK8lNuLjFSo9qenb72+3kdvHh3/io3Tu5faomc5LFafE+
      RRfD1BQtAoGBANeovBnYxa7fC8N4R2bUy09ECS2pXiAspvAgUydzvWYLSuCiYIsk
      ag9e3WiuzFl7bAEnzAGLRhwN8NRh4pySB6scxnqK84fFlGZt6MU/H/ddLttKqnpq
      i/Ae206Om04EAhxpgcBRS7ZRgTm2va+77HFABzjtC8rIQrcOyEBTssKHAoGBAMJz
      JwV618Kms4Y+LDGuGRmY6tW/6Db1Md19JTsNme7yMg5taua5hkA7bQneap8iYsfv
      Xvk65sihvvKGprGowgyrkii/cC7o4GkUfAlLlU/amfA74Xg8jPiZdRaCsilMF/qk
      DHWQ8OCYVBocmgXf3sJko+zVGPQU48svt5SthzcbAoGAMzIlZWVmmHruyfqVyL2f
      fjPCkgpxA+ZVww+JbgY14jGwFt+1V5LPctKscRt9+4gnPab68Srk++f7Ug/iwhSQ
      qXhtTc4KviKTdjWFWr3/krOWWgzBp8n/aoOIwH9uMvkUnzYUzVj/RkrXCKJvKXbN
      TJ1MmaD8ealM3TQvKcY026UCgYEAgy8Y5lOH+KRqfWi4fBPOjzxhQi+kRF+LcrgZ
      RAvbDB+NsboT4vDLJ85vs7bAC/gw2F4fntkkFbs5jXlWQIlv0Qh3JNJyptMpgvr0
      63h4lVUPgcmERY/kM1ukaLln5QCXNNs0JKTSPVPHeY5OQyRTrqYjCYaCvTjSraPV
      oJKppH0CgYBDsyJS1pQ7Krkk9Puht2PlTuOTgQreAau9g9vK8rfh7slWQQlT/wxh
      0Vh90C9uQjPZv2ccQIl99bc/Hpvp+hhSwiPGWPYGpEOdKnjgmK2ukj/ez9ZNbQFL
      K6fBmvzZhzCpRGQjm9jX4W2HLE1NJxBIjuVzGPw2mIfmUT6iP/byFA==
      -----END RSA PRIVATE KEY-----

container_commands:
  01restart_nginx:
    command: "service nginx restart"