@import "variables.scss";
@import "mixins.scss";

// Global Components

body {
    overflow-x: hidden;
    @include body-font;
    @include heading-font
}

.text-muted {
    color: white;
}

.text-primary {
    color: #3c588c !important;
}

.text-primarySN {
  color: $theme-smartnation !important;
}
.text-primaryBD {
  color: $theme-bigdata !important;
}
.text-primaryFT {
  color: $theme-fintech !important;
}
.text-primaryAbout {
  color: $theme-about !important;
}


p {
    font-size: 14px;
    line-height: 1.75;
}

p.large {
    font-size: 16px;
}

a,
a:hover,
a:focus,
a:active,
a.active {
    outline: none;
}

a {
    color: $theme-primary;
}

a:hover,
a:focus,
a:active,
a.active {
    color: darken($theme-primary, 10%);
}

h1, h2, h3, h4, h5, h6 {
    @include heading-font;
    font-weight: 700;
}

.img-centered {
    margin: 0 auto;
}

.bg-light-gray {
    background-color: $gray-lighter;
}

.bg-darkest-gray {
    background-color: $gray-darker;
}

.other {
  background-color: #151A2C;
}

// Restyled Primary Buttons

.btn-primary {
    @include button-variant(white, $theme-primary, $theme-primary);
    @include heading-font;
    font-weight: 700;
}

.btn-xl {
    @include button-variant(white, $theme-primary, $theme-primary);
    @include heading-font;
    font-weight: 700;
    border-radius: 3px;
    font-size: 18px;
    padding: 20px 40px;
}

// Custom Navigation Bar

.navbar-custom {

    .navbar-brand {
      font-family: "Helvetica Neue", sans-serif !important;
        font-weight: bold;
        color: white;
        &:hover,
        &:focus,
        &:active,
        &.active {
            color: $theme-primary;
        }
    }
    .navbar-collapse {
        border-color: fade-out(white, .02);
    }
    .navbar-toggle {
        background-color: $theme-primary;
        border-color: $theme-primary;
        @include heading-font;
        color: white;
        font-size: 12px;
        &:hover,
        &:focus {
            background-color: $theme-primary;
        }
    }
    .nav {
        li {
            a {
                @include heading-font;
                font-weight: bold;
                letter-spacing: 1px;
                color: white;
                &:hover,
                &:focus {
                    color: $theme-primary;
                    outline: none;
                }
            }
        }
    }
    .navbar-nav>.active>a {
        border-radius: 0;
        color: white;
        background-color: $theme-primary;
    }
    .navbar-nav>.active>a:hover,
    .navbar-nav>.active>a:focus {
        color: white;
        background-color: darken($theme-primary, 10%);
    }
}
.navbar-sn{
  background-color: $theme-smartnation;
  border-color: transparent;
}

.navbar-bd{
  background-color: $theme-bigdata;
  border-color: transparent;
}

.navbar-ft{
  background-color: $theme-fintech;
  border-color: transparent;
}

.navbar-about{
  background-color: $theme-about;
  border-color: transparent;
}

.navbar-home{
  background-color: $theme-home;
  border-color: transparent;
}


@media(min-width:768px) {
    .navbar-custom {
        background-color: transparent;
        padding: 25px 0;
        -webkit-transition: padding 0.3s;
        -moz-transition: padding 0.3s;
        transition: padding 0.3s;
        border: none;
        .navbar-brand {
            font-size: 2em;
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            transition: all 0.3s;
        }
        .navbar-nav>.active>a {
            border-radius: 3px;
        }
    }
}

// Navbar Change on Scroll

@media(min-width:768px) {
  .navbar-sn.affix {
    background-color: $sn-bar;
    padding: 10px 0;
    .navbar-brand {
      font-size: 1.5em;
    }
  }
  .navbar-bd.affix {
    background-color: $bd-bar;
    padding: 10px 0;
    .navbar-brand {
      font-size: 1.5em;
    }
  }
  .navbar-ft.affix {
    background-color: $ft-bar;
    padding: 10px 0;
    .navbar-brand {
      font-size: 1.5em;
    }
  }
  .navbar-about.affix {
    background-color: $about-bar;
    padding: 10px 0;
    .navbar-brand {
      font-size: 1.5em;
    }
  }

  .navbar-home.affix {
    background-color: $home-bar;
    padding: 10px 0;
    .navbar-brand {
      font-size: 1.5em;
    }
  }

}

.fa.fa-facebook{
  font-size: 16px;
}
.fa fa-instagram{
  font-size: 16px;
}
@media(min-width:768px) {
  #navInstagram {
    padding-left: 0px;
  }
}

header {

    text-align: center;
    color: white;
    .intro-text {
        padding-top: 300px;
        padding-bottom: 50px;
        .intro-lead-in {
            //@include serif-font;
            //font-style: italic;
            font-family: 'Orbitron', sans-serif !important;
            font-size: 50px;
            margin-top: -150px;
            text-shadow:rgba(0, 0, 0, 0.4) 0px 4px 5px;
        }
        .intro-heading {
            //@include heading-font;
            //font-weight: 700;
            font-family: 'Orbitron', sans-serif !important;
            font-size: 20px;
            margin-bottom: 30px;
            text-shadow:rgba(0, 0, 0, 0.4) 0px 4px 5px;
        }
        .register-bar{
          margin-top: 18px;
          font-size:12px;
        }
    }
}

@media(min-width:768px) {
    header {
        .intro-text {
            //padding-top: 300px;
            padding-top:600px;
            padding-bottom: 200px;
            .intro-lead-in {
                //@include serif-font;
                //font-style: italic;
                font-family: 'Orbitron', sans-serif !important;
                font-size: 92px;
                margin-top: -350px;
                text-shadow:rgba(0, 0, 0, 0.4) 0px 4px 5px;
            }
            .intro-heading {
                //@include heading-font;
                //font-weight: 700;
                font-family: 'Orbitron', sans-serif !important;
                font-size: 44px;
                margin-bottom: 100px;
                text-shadow:rgba(0, 0, 0, 0.4) 0px 4px 5px;
            }
            .register-bar{
              padding-top: 14px;
              font-size:16px;
            }
        }
    }
}

// Global Section Styles

section {
    padding: 100px 0;
    h1.section-heading {
      color: #ffffff;;
        font-size: 50px;
        margin-top: 0;
        margin-bottom: 65px;
    }
    h2.section-heading {
      color: #ffffff;;
      margin-top: 0;
      margin-bottom: 65px;
    }
    h3.section-subheading {
        font-family: "Roboto", sans-serif !important;
        font-size: 25px;
        text-transform: none;
        font-weight: 400;
        margin-top: 0;
        margin-bottom: 65px;
    }
}

@media(min-width:768px) {
    section {
        padding: 150px 0;
    }
}

// Services Section

.service-heading {
    margin: 15px 0;
    text-transform: none;
}

// trackDiv Section

.trackDiv {
    text-align: center;
    img {
        max-width:230px;
        max-height:230px;
        margin: 0 auto;
        border: 7px solid white;
    }
    img:hover{
        opacity: 0.8;
    }
    p {
        font-size: 15px;
        margin-top: 0;
    }
}
@media(min-width:1000px) {
  .trackDiv img {
    max-width:270px;
    max-height:270px;
  }
}

// Clients Aside

aside.clients {
    img {
        margin: 50px auto;
    }
}

// Contact Section

section#contact {
    background-color: $gray-darker;
    background-position: center;
    background-repeat: no-repeat;
    .section-heading {
        color: white;
    }
    .form-group {
        margin-bottom: 25px;
        input,
        textarea {
            padding: 20px;
        }
        input.form-control {
            height: auto;
        }
        textarea.form-control {
            height: 236px;
        }
    }
    .form-control:focus {
        border-color: $theme-primary;
        box-shadow: none;
    }
    ::-webkit-input-placeholder {
       @include heading-font;
       font-weight: 700;
       color: $gray-lighter;
    }
    :-moz-placeholder { /* Firefox 18- */
       @include heading-font;
       font-weight: 700;
       color: $gray-lighter;
    }
    ::-moz-placeholder {  /* Firefox 19+ */
       @include heading-font;
       font-weight: 700;
       color: $gray-lighter;
    }
    :-ms-input-placeholder {  
       @include heading-font;
       font-weight: 700;
       color: $gray-lighter;
    }
    .text-danger {
        color: $theme-danger;
    }
}

// Footer

footer {
    padding: 10px;
    text-align: center;
    background: rgba( black, .9);
    span.copyright {
        font-size: 14px;
        @include heading-font;
        color:$theme-primary;
    }
    ul.quicklinks {
        margin-bottom: 0;
        line-height: 40px;
        @include heading-font;
        text-transform: none;
    }
    .list-inline > li {
      padding-left:9px;
      padding-right:9px;
    }
}

// Social Buttons

ul.social-buttons {
    margin-bottom: 0;
    li {
        a {
            display: block;
            font-size: 16px !important;
            color: $theme-primary;
            outline: none;
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            transition: all 0.3s;
            &:hover,
            &:focus,
            &:active {
                color:white;
            }
        }
    }
}

.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
    outline: none;
}

.portfolio-modal {
    .modal-dialog{
        margin: 0;
        height: 100%;
        width: auto;
    }
    .modal-content {
        border-radius: 0;
        background-clip: border-box;
        -webkit-box-shadow: none;
        box-shadow: none;
        border: none;
        min-height: 100%;
        padding: 100px 0;
        text-align: center;
        h2 {
            margin-bottom: 15px;
            font-size: 3em;
        }
        p {
            margin-bottom: 30px;
        }
        p.item-intro {
            margin: 20px 0 30px;
            @include serif-font;
            font-style: italic;
            font-size: 16px;
        }
        ul.list-inline {
            margin-bottom: 30px;
            margin-top: 0;
        }
        img {
            margin-bottom: 30px;
        }
    }
    .close-modal {
        position: absolute;
        width:75px;
        height:75px;
        background-color:transparent;
        top: 25px;
        right: 25px;
        cursor: pointer;
        &:hover {
            opacity: 0.3;
        }
        .lr {
            height:75px;
            width:1px;
            margin-left:35px;
            background-color:$gray-darker;
            transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            /* IE 9 */
            -webkit-transform: rotate(45deg);
            /* Safari and Chrome */
            z-index:1051;
            .rl {
                height:75px;
                width:1px;
                background-color:$gray-darker;
                transform: rotate(90deg);
                -ms-transform: rotate(90deg);
                /* IE 9 */
                -webkit-transform: rotate(90deg);
                /* Safari and Chrome */
                z-index:1052;
            }            
        }        
    }
    .modal-backdrop {
        opacity: 0;
        display: none;
    }
}

 //Highlight Color Customization

//::-moz-selection {
//    text-shadow: none;
//    background: $theme-primary;
//}
//
//::selection {
//    text-shadow: none;
//    background: $theme-primary;
//}
//
//img::selection {
//    background: transparent;
//}
//
//img::-moz-selection {
//    background: transparent;
//}
//
//body {
//    webkit-tap-highlight-color: $theme-primary;
//}

//custom css
//global
body {
  webkit-tap-highlight-color: $theme-primary;
  //background-color: rgba(0,0,0,1) !important;
}

.nav li a.btn-login:hover,
.nav li a.btn-login:focus {
          color: white;
          background-color: darken($theme-danger, 10%);
        }

.btn-register{
  @include button-variant(white, $theme-danger, $theme-danger);
  @include heading-font;
  font-weight: 700;
  border-radius: 3px;
  font-size: 18px;
  padding: 15px 35px;
}

.btn-login{
  @include button-variant(white, $theme-danger, $theme-danger);
  border-radius: 3px;
  padding-top:8px !important;
  padding-bottom:8px !important;
  margin-top: 7px !important;
  margin-bottom:7px !important;
}

a.btn-register{
  text-decoration: none !important;
}

.statementText{
  font-family:"Helvetica Neue",sans-serif !important;
  width:70%;
  font-size: 18px;
  display: inline-block;
  text-align: justify;
  color: #FFF;
}

#statement-section-heading{
  font-family:"Helvetica Neue",sans-serif !important;
  margin-bottom:15px !important;
}

@media(min-width:768px) {
  .sponsor.row {
    margin-top: 10px;
  }
}

.paddingDiv{
  padding-left: 40px;
  padding-right: 40px;
}

span{
  color: $theme-secondary;
}
h3{
  color: white;
}
h4{
  color: white;
}

.nextRow{
  margin-top: 10px;
}

.special-h4{
  color: white;
  text-align: left;
  padding: 0px 60px 50px 60px;
}

#mapSection{
  text-align: center; /* !!! */
}
#map {
  height: 400px;
  width: 70%;
  margin: 0 auto;
  text-align: left;
}
#mapSection h1.section-heading{
  margin-bottom: 20px;
}
#mapSection h3.section-heading{
  margin-bottom: 40px;
  padding-left: 10px;
  padding-right: 10px;
}
#mapSection p{
  color: white;
  margin-top: 20px;
}

.large-icon{
  font-size: 7.5em;
}
.white-icon{
  color: white;
}
.grey-icon{
  color: #777777;
}

.red-icon{
  color: #a94442;
}

.green-icon{
  color: #47764a;
}

.orange-icon{
  color: #f4a460;
}

.center{
  margin: 0 auto;
}

.ninety-percent{
  max-width: 90%;
}

.normal-weight{
  color: #b3b3b4;
  font-weight:normal;
}

p span{
  font-weight:bold;
  color: white;
}

.orange-a {
  color: $theme-secondary !important;
}
.orange-a:hover{
  color: darken($theme-secondary, 10%) !important;
}

.red-a {
  color: #c25b4e !important;
}
.red-a:hover{
  color: darken(#c25b4e, 10%) !important;
}

  //individual track
//#smartnationHeader{
//  background-image: asset_data_url('smartnation/SmartNationBackground.jpg');
//}

//#bigdataHeader{
//  background-image: asset_data_url('bigdata/BigDataBackground.jpg');
//}

.layer {
   background-color: rgba(0, 0, 0, 0.5);
   width: 100%;
   height: 100%;
 }

.layer-Gao{
  background-color: rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 100%;
}

.layer-grey{
  background-color: rgba(51, 51, 51, 0.75);
  width: 100%;
  height: 100%;
}

.dark-blue{
  background-color: #2d4268;
  width: 100%;
  height: 100%;
}

.sn-bg{
  background: rgba( $theme-smartnation, .6 );
}

.sn-sponsors{
  background: rgba( $theme-smartnation, 1);
}

.bd-bg{
  background: rgba( $theme-bigdata, .7 );
}
.bd-sponsors{
  background: rgba( $theme-bigdata, 1);
}

.ft-bg{
  background: rgba( $theme-fintech, .6);
}
.ft-sponsors{
  background: rgba( $theme-fintech, 1);
}

.about-bg{
  background: rgba( $theme-about, .6);
}
.about-sponsors{
  background: rgba( $theme-about, 1);
}

.home-bg{
  background: rgba( $theme-home, .8);
}
.home-sponsors{
  //background: rgba( $theme-home, 1);
  background: white;
}

#homeHeader .intro-lead-in{
  color: $theme-about;
}
#homeHeader .intro-heading{
  color: $theme-about;
}

#tracks h1{
  margin-bottom: 85px !important;
}

.statementText span{
  font-weight:bold;
  color:$theme-secondary;
}

#aboutSocSection{
  padding-bottom: 20px !important;
}

.fourC.statementText{
  margin-bottom: 20px;
}

#logo{
  background: rgba( white, .6);
  padding:10px;
}

#logo img{
  height:20%;
  width:20%;
  border-radius: 50%;
}
@media(min-width:768px) {
  #logo img{
    height:10%;
    width:10%;
  }
}

.smartNationBody{

  background-image: image-url('smartnation/SmartNationBackground.jpg'); //commented out to apply background image individually
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  @include background-cover;

}

.bigDataBody{

  background-image: image-url('bigdata/BigDataBackground.jpg'); //commented out to apply background image individually
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  @include background-cover;

}

.finTechBody{

  background-image: image-url('fintech/fintechBackground.jpg'); //commented out to apply background image individually
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  @include background-cover;

}

.aboutBody{

  background-image: image-url('about/dummy.jpg'); //commented out to apply background image individually
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  @include background-cover;

}

.homeBody{
  background-image: image-url('home/dummy.jpg'); //commented out to apply background image individually
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  @include background-cover;
}

.WSBody{

  background-image: image-url('about/dummy.jpg'); //commented out to apply background image individually
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  @include background-cover;

}

.sponsors{
  background: #FFF;
}

.img-sponsor{
  max-width: 40%;
}

#img-home-bizit{
  margin: 0 auto;
  max-width: 18%;
}

#img-home-sas{
  margin: 0 auto;
  min-width: 100px;
  max-width: 10%;
  padding-top: 40px;
}

#img-home-zalora{
  margin: 0 auto;
  min-width: 120px;
  max-width: 18%;
}

#img-home-singtel {
  margin: 0 auto;
  max-width: 45%;
  padding-top: 10px;
}

#img-home-standchart{
   margin: 0 auto;
   max-width: 50%;
   padding-top: 25px;
 }

#img-home-accenture{
  margin: 0 auto;
  max-width: 60%;
  padding-top: 25px;
}

#img-home-soc{
  margin: 0 auto;
  max-width: 50%;
  padding-top: 45px;
}

#img-home-ibm{
  margin: 0 auto;
  max-width: 50%;
  padding-top: 20px;
}

#img-home-aws{
  margin: 0 auto;
  max-width: 50%;
  padding-top: 15px;
}

#img-home-govtech{
  margin: 0 auto;
  max-width: 50%;
}

#img-home-sns{
  margin: 0 auto;
  max-width: 50%;
  padding-top: 50px;
}

#img-home-micro {
  margin: 0 auto;
  max-width: 50%;
  padding-top: 40px;
}

.link-text{
  color: yellow;
}
.link-text:hover{
  color: darken(yellow, 10%);
}

.link-text-darker{
  color: #f4a460;
}
.link-text-darker:hover{
  color: darken(#f4a460, 10%);
}

//speakers
.speakersDiv {
  text-align: center;
  img {
    width:40%;
    margin: 0 auto;
    border: 7px solid white;
  }
  p {
    font-size: 15px;
    margin-top: 0;
  }
  h3 {
    font-size: 1.2em;
  }
  a {
    color: $theme-secondary;
  }
  a:hover{
    color: darken($theme-secondary, 10%);
  }
}
@media(min-width:768px) {
  .speakersDiv img {
    width:90%;
  }
  .speakersDiv h3 {
    font-size: 1.5em;
  }
}

//modal portfolio
.portfolioDiv {
  text-align: center;
  img {
    width:170px;
    margin: 0 auto;
    border: 7px solid #eeeeee;
  }
  p {
    font-size: 14px;
    margin-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
  }
  h4,h5 {
    color: $theme-secondary;
  }
}
@media(min-width:768px) {
  .portfolioDiv img {
    width:200px;
  }
  .portfolioDiv h4, h5 {
    color: $theme-secondary;
  }
  .portfolioDiv p{
    padding-left: 0px;
    padding-right: 0px;
  }
}

//modal logo image
.modal_logo_img{
  border: none !important;
}

